  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GANESH DESIGNMATICS LTD </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="ganesha.css">
    <style>
        body {

/* Image Location */

background-image: url("video.mp4");

/* Background image is centered vertically and horizontally at all times */

background-position: center center;

background-repeat: no-repeat;

background-attachment: fixed;

background-size: cover;

background-color: #464646;

/* Font Colour */

color:white;
        }
        #vid{
            position: fixed;
                                     
        }

    </style>
</head>
<link rel="icon" href="favicon.ico">
<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">

    <div class="heading">

        <video autoplay loop muted plays-inline class="back-video" id="vid">
            <source src="video.mp4" type="video/mp4">
          </video>


</div>


   <div class="topnav">
    <ul>
    <li> <a class="active" href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#Our Services">Our Services</a></li>
    <li><a href="#Work">Work</a></li>
    <li> <a href="#Contact Us">Contact Us</a></li>
    </ul>
    </div>
<div id="home">
<div class="content">
<br>
<br>      
<h1>WELCOME  TO  GANESH  DESIGNMATICS</h1>
<h2 id="font">"Design is Thinking made visual"</h2>
<h6><a href="index.html">Get Started</a></h6>
</div>
</div>
<!-- Controls -->
    <a class="left carousel-control" href="#mainCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#mainCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>

<div id="about">
    
    <div class="container">
        <div class="text">
          
          
            <h2>About Us</h2>
            <hr>
            <table>
                <tr>
                    <td><p align="justify">We're Designers, We work together to design, create and produce work. 
                        The design, written content, and visual or video elements together tell an important story about it. Design influences what we think, the way we feel and the decisions we make. And when it is exceptionally well-done, good design is virtually invisible. We are here to make your thoughts into visual </p>
                        
                        <p align="justify">We make our customers vision into a reality in the most fun, engaging and creative way possible. As cliché as it sounds, we breathe what we do. We’re passionate, innovative, creative and take pride in doing the best work we can.</p></td>
                        <div class="abimg"> <td>  <center> <img  src="../../../static/imgvid/abimg3.jpg" alt="centered image" height="498" width="498"border-radis=50%> </center> </td></div>
                    
                </tr>
            </table>  
        </div>
    </div>
</div> 
         
             
        </div>
         
    </div>
</div>


<div id="Our Services">
    <div class="container">
      
      
        <h2>Our Services</h2>
        <hr>
        <p>We will provide the following services keeping in mind the specific requirements of our customers and establish their unique brand identity. We provide an immersive experience for users.</p>
<div class="servicebtns">
        <div class="dropdown">
            <button class="dropbtn">Graphic Design</button> &nbsp;&nbsp;&nbsp;&nbsp;
              <div class="dropdown-content">
              <a href="#">Graphic design is the art or profession of visual communication that combines images, words, and ideas to convey information to an audience, especially to produce a specific effect. </a>
          </div>
          </div>
          <div class="dropdown">
              <button class="dropbtn">Poster Design</button> &nbsp;&nbsp;&nbsp;&nbsp;
              <div class="dropdown-content">
              <a href="#">Posters include both textual and graphic elements, although a poster may be either wholly graphical or wholly text. Posters are designed to be both eye-catching and informative.</a>
          </div>
          </div>

              <div class="dropdown">   
              <button class="dropbtn">Logo Design</button> &nbsp;&nbsp;&nbsp;&nbsp;
              <div class="dropdown-content">
              <a  href="#">Logos are images, texts, shapes, or a combination of the three that depict the name and purpose of a business – to put it simply.However, a logo can and should be more than a symbol of identification.</a>
              </div>
              </div>
              <div class="dropdown">
              <button class="dropbtn">Card Design</button> &nbsp;&nbsp;&nbsp;&nbsp;
              <div class="dropdown-content"><a href="#"> A “card” is a UI design pattern that groups related information in a flexible-size container visually resembling a playing card.A card is container for a few short, related pieces of information. </a>
              </div>   
          </div>
          </div>
</div>
          <br>
<button  class="clickme"type="submit" onclick="window.location.href='../../templates/loginDuplicate/index.html';">"click here to know more"</button>
              

</div>
    

<div id="Work">
    <div class="container">

        <h2>Work</h2>
         <hr>
    </div>
    <div id="#img"class="row">
        <div class="column">
            <img src="../../../static/imgvid/gd1.jpg" alt="Snow" style="width: 240px;height:240px">&nbsp;
        </div>
        <div class="column">
          <img src="../../../static/imgvid/gd2.jpg" alt="Forest" style="width: 240px;height:240px">&nbsp;
        </div>
        <div class="column">
          <img src="../../../static/imgvid/gd3.jpg" alt="Mountains" style="width: 240px;height:240px">&nbsp;
        </div>
        <div class="column">
            <img src="../../../static/imgvid/gd4.jpg" alt="Mountains" style="width: 240px;height:240px">&nbsp;
        </div>
          
        <div class="column">
            <img src="../../../static/imgvid/pd1.jpg" alt="Mountains" style="width: 240px;height:240px">&nbsp;
        </div>
        <div class="column">
            <img src="../../../static/imgvid/pd2.jpg" alt="Mountains" style="width: 240px;height:240px">&nbsp;
        </div>
        <div class="column">
            <img src="../../../static/imgvid/pd3.jpg" alt="Mountains" style="width: 240px;height:240px">&nbsp;
        </div>
        <div class="column">
            <img src="../../../static/imgvid/pd4.jpg" alt="Mountains" style="width: 240px;height:240px">&nbsp;
        </div>
        <div class="column">
            <img src="../../../static/imgvid/cd1.jpg" alt="Mountains" style="width: 240px;height:240px">&nbsp;
        </div>
        <div class="column">
            <img src="../../../static/imgvid/cd2.jpg" alt="Mountains" style="width: 240px;height:240px">&nbsp;
        </div>
        <div class="column">
            <img src="../../../static/imgvid/cd3.jpg" alt="Mountains" style="width: 240px;height:240px">&nbsp;
        </div>
        <div class="column">
            <img src="../../../static/imgvid/cd4.jpg" alt="Mountains" style="width: 240px;height:240px">&nbsp;
        </div>
        <div class="column">
            <img src="../../../static/imgvid/ld1.jpg" alt="Mountains" style="width: 240px;height:240px">&nbsp;
        </div>
        <div class="column">
            <img src="../../../static/imgvid/ld2.jpg" alt="Mountains" style="width: 240px;height:240px">&nbsp;
        </div>
        <div class="column">
            <img src="../../../static/imgvid/ld3.jpg" alt="Mountains" style="width: 240px;height:240px">&nbsp;
        </div>
        <div class="column">
            <img src="../../../static/imgvid/ld4.jpg" alt="Mountains" style="width: 240px;height:240px">&nbsp;
        </div>
    </div>
</div>

<div id="Contact Us">
    <div class="container">
        <h2>Contact Us</h2> 
        <hr> 
        <h2>Need our help?</h2>
        <p>Fill in your details below.We'll get back to you soon!</p>
        <div class="col-md-6">
            <div class="contact-form">
                <form  action="mailto:gdmatics22@gmail.com" method="post" enctype="text/plain">
                    <input id="name" name="name" type="text" placeholder="Name:" required size="35">
                    <br>
                    <br>
                    <input id="email" name="email" type="text" placeholder="Email:" required size="35">
                    <br>
                    <br>
                    <input id="phone" name="phone" type="phone" placeholder="phone no:" required size="35">
                    <br>
                    <br>
                    <textarea id="message" name="message" placeholder="Your Message:" rows="3" required ></textarea>
                    <br>
                    <br>
                    <button name="submit" id="submit" type="submit">Send Message</button>
                </form>
              
            </div>  
        </div>
    </div> 
</div>


<div id="subscribe">
    <div class="container">
        <h2>Subscribe To Us</h2>
        <hr>
        <p>Get awesome design content sent straight to your inbox for <strong>free</strong>, and we promise never to share, trade, sell, deliver,  publicize or market your email address in any way shape or form. </p>
        <div class="col-md-8 col-md-offset-2">
            <form name="submit-to-google-sheet">
                  <div class="input-group">
                     <input class="btn btn-lg" name="Email" id="email" type="email" placeholder="Enter your email address" required>
                     <button class="btn btn-info btn-lg" type="submit">Submit</button>
                  </div>
            </form>
            <span id="msg"></span>
        </div>  
    </div>
</div>

<div class="wrapper">
    <h3 id="social">Social Media Icons</h3>
    <br>
    <div class="media">
        <center>
          
          <!-- Add font awesome icons -->
<a href="https://www.facebook.com" class="fa fa-facebook"></a>&nbsp;&nbsp;
<a href="https://www.twitter.com" class="fa fa-twitter"></a>&nbsp;&nbsp;
<a href="https://www.google.com" class="fa fa-google"></a>&nbsp;&nbsp;
<a href="https://www.linkedin.com" class="fa fa-linkedin"></a>&nbsp;&nbsp;
<a href="https://www.youtube.com" class="fa fa-youtube"></a>&nbsp;&nbsp;
<a href="https://www.instagram.com/accounts/login/" class="fa fa-instagram"></a>&nbsp;&nbsp;
      
                  
            </body>
            </html>
        </center>
    </div>
</div>

<div class="footer">
      <div class="container">
           <p class="text-muted">Copyright 2022 | All Rights Reserved.</p>
      </div>
</div>

<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbzRjiZ2VKy4D_53gRRelDczuANWi4pbqTtsyJW77a7Z3N0dk52oE6g-IfDz6MAiSNzW5g/exec'
    const form = document.forms['submit-to-google-sheet']
    const msg = document.getElementById("msg")
  
    form.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => {
                msg.innerHTML = "Thank You For Subscribing!"
                setTimeout(function(){
                    msg.innerHTML = ""
                },5000)
                form.reset()
        })
        .catch(error => console.error('Error!', error.message))
    })
  </script>



<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<script src="js/jquery.isotope.js"></script>

<script src="js/jquery.scrollUp.min.js"></script>


<script type="text/javascript">

$('a[href^="#"]').on('click', function(event) {
    var target = $(this.getAttribute('href'));
    if( target.length ) {
           event.preventDefault();
        $('html, body').stop().animate({
            scrollTop: target.offset().top
        }, 1000);
    }
});

</script>


<!-- Navbar Change on Scroll -->
<script type="text/javascript">
    $(function(){
     var shrinkHeader = 100;
      $(window).scroll(function() {
        var scroll = getCurrentScroll();
          if ( scroll >= shrinkHeader ) {
               $('.navbar-default').addClass('shrink');
        }
           else {
            $('.navbar-default').removeClass('shrink');
        }
      });
    function getCurrentScroll() {
        return window.pageYOffset || document.documentElement.scrollTop;
    }
});

</script>    


<!-- Portfolio Isotope Settings -->
<script type="text/javascript">

$(window).load(function(){


  var $container = $('.portfolioContainer'),
     $body = $('body'),
     colW = 375,
      columns = null;


  $container.isotope({
// disable window resizing
    resizable: true,
        masonry: {
    columnWidth: colW
    }
  });

  $(window).smartresize(function(){
// check if columns has changed
    var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
    if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
        .isotope('reLayout');
    }

  }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');

        var selector = $(this).attr('data-filter');
        $container.isotope({
        
        filter: selector,
     });
         return false;
        });

});

</script>


<!-- Scroll To Top Settings -->
<script type="text/javascript">

$(function () {
      $.scrollUp({
        scrollName: 'scrollUp', // Element ID
        topDistance: '300', // Distance from top before showing element (px)
        topSpeed: 600, // Speed back to top (ms)
        animation: 'fade', // Fade, slide, none
        animationInSpeed: 50, // Animation in speed (ms)
        animationOutSpeed: 100, // Animation out speed (ms)
        activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
        scrollImg: true,
      });
});

</script>
</body>
</html>