<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GANESH DESIGNMATICS LTD</title>
    <style>
        body {

/* Image Location */

background-image: url("../../../static/imgvid/sbg.jpg");


/* Background image is centered vertically and horizontally at all times */

background-position: center center;

background-repeat: no-repeat;

background-attachment: fixed;

background-size: cover;

background-color: #464646;

/* Font Colour */

color:white;
        }
    </style>
</head>

<link rel="icon" href="favicon.ico">

<body>
    
    <div class="bg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="ser stylesheet" href="s.css">
   

    <div class="topnav">
     <ul>
     <li> <a class="active" href="#Our Services">Our Services</a></li>
     <li><a href="#Graphic Design">Graphic Design</a></li>
     <li><a href="#Poster Design">Poster Design</a></li>
     <li><a href="#Logo Design">Logo Design </a></li>
     <li> <a href="#Card Design">Card Design</a></li>
     </ul>
    </div>
<a class="left carousel-control" href="#mainCarousel" data-slide="prev">
    <span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#mainCarousel" data-slide="next">
    <span class="icon-next"></span>
</a>
<br>
<br>
<div id="Our Services">
    
    <div class="container">
        <div class="text">
            <h2>Our Services</h2>
            <hr>
            <table>
                <tr>
                    <td><p align="justify">We design and develop customized websites keeping in mind the specific requirements of our customers and establish their unique brand identity. Through uniquely designed pages, carefully selected images, compelling content on every page and intuitive navigation, we provide an immersive experience for users.
                        <p align="justify">We make our customers vision into a reality in the most fun, engaging and creative way possible. As cliché as it sounds, we breathe what we do. We’re passionate, innovative, creative and take pride in doing the best work we can.</p></td>
                    
                </tr>
            </table>     
        </div>
    
    </div>
</div> 

<div id="Graphic Design">
    
    <div class="container">
        <div class="text">
            <h2>Graphic Design</h2>
            <hr>
            <table>
                <tr>
                    <td><p align="justify">Graphic design is the art or profession of visual communication that combines images, words, and ideas to convey information to an audience, especially to produce a specific effect. 
                        In other words, graphic design is communication design; It’s a way of conveying ideas through visuals and design.But believe it or not, graphic design isn’t a black and white concept. </p>
                        
                        <div class="form" ><p><strong><center>Order your  Design</center></strong></p></div>
                        <center>
                         <button class="block" onclick="window.location.href='https://forms.gle/tQULMWdhnn9x9VBL9';">Click Here</button>
                        </center>
                       

                    <div class="abimg" > <td>  <center><img src="../../../static/imgvid/gd1.jpg" alt="centered image" height="400" width="400"> </center> </td></div>
                </tr>
            </table>     
        </div>
    </div>
</div> 
    
<div id="Poster Design">
    
    <div class="container">
        <div class="text">
            <h2>Poster Design</h2>
            <hr>
            <table>
                <tr>
                    <td><p align="justify">Posters include both textual and graphic elements, although a poster may be either wholly graphical or wholly text.
                         Posters are designed to be both eye-catching and informative.A poster is a large sheet that is placed either on a public space to promote something or on a wall as decoration. 
                         We have many options in posters such as Movie posters, Motivational nd social posters, Event posters, Typography posters, Photography posters, Graphic posters  and many more. </p>
                        
                         <div class="form" ><p><strong><center>Order your  Design</center></strong></p></div>
                         <center>
                         <button class="block" onclick="window.location.href='https://forms.gle/tQULMWdhnn9x9VBL9';">Click Here</button>
                        </center>
                    <div class="abimg" > <td>  <center><img src="../../../static/imgvid/pd2.jpg" alt="centered image" height="400" width="400"> </center> </td></div>
                </tr>
            </table> 
        </div>
    </div>
</div> 
         
<div id="Logo Design">
    
    <div class="container">
        <div class="text">
            <h2>Logo Design</h2>
            <hr>
            <table>
                <tr>
                    <td><p align="justify">Logos are images, texts, shapes, or a combination of the three that depict the name and purpose of a business to put it simply.
                        However, a logo can and should be more than a symbol of identification.If designed well, it also tells a company’s story, by conveying your brand message in a way that helps to establish an emotional connection with your target audience.</p>
                        
                        <div class="form" ><p><strong><center>Order your  Design</center></strong></p></div>
                        <center>
                         <button class="block" onclick="window.location.href='https://forms.gle/tQULMWdhnn9x9VBL9';">Click Here</button>
                        </center>
                    <div class="abimg" > <td>  <center><img src="../../../static/imgvid/ld3.jpg" alt="centered image" height="400" width="400"> </center> </td></div>
                </tr>
            </table> 
        </div>
    </div>
</div> 
         
<div id="Card Design">
    
    <div class="container">
        <div class="text">
            <h2>Card Design</h2>
            <hr>
            <table>
                <tr>
                    <td><p align="justify">A “card” is a UI design pattern that groups related information in a flexible-size container visually resembling a playing card.A card is container for a few short, related pieces of information. It roughly resembles a playing card in size and shape, and is intended as a linked, short representation of a conceptual unit.
                        We create Visiting cards, ID cards, Thank you cards and many more.  </p>
                        
                        <div class="form" ><p><strong><center>Order your  Design</center></strong></p></div>
                        <center>
                         <button class="block" onclick="window.location.href='https://forms.gle/tQULMWdhnn9x9VBL9';">Click Here</button>
                        </center>
                    <div class="abimg" > <td>  <center><img src="../../../static/imgvid/cd1.jpg" alt="centered image" height="400" width="400"> </center> </td></div>
                </tr>
            </table> 
        </div>
    </div>
</div>              
</div>
<br>
<br>
<br>
<br>
<br>
</body>
</html>